<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/icon.png">
    <title>blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<% include header.ejs%>
<div class="container">
    <div class="row col-lg-6">
        <h1>欢迎来到<%=users[0].username%>的个人中心</h1>
        <form method="post" action="/register">
            <div class="form-group">
                <label for="username">用户名</label>
                <input disabled type="text" name="username" class="form-control" id="username" value="<%=users[0].username%>">
            </div>
            <div class="form-group">
                <label>性别:</label>
                <label><input  disabled name="sex" type="radio" value="男"  <%if(users[0].sex=="男"){%>checked<%}%>/>男 </label>
                <label><input  disabled name="sex" type="radio" value="女" <%if(users[0].sex=="女"){%>checked<%}%> style="margin-left: 24px" />女 </label>
            </div>
            <div class="form-group">
                <label for="age">年龄</label>
                <input  disabled type="text" name="age" class="form-control" id="age" value="<%=users[0].age%>">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" id="btn">开始修改</button>
                <button type="submit" style="display: none" class="btn btn-default" id="btns">确认修改</button>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    $(function () {
        $('#btn').click(function () {
          $('input').attr('disabled',false);
           $('#btns').css('display','inline-block');
            $(this).attr('disabled',true);
        })
    })
</script>
</html>